@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet makes a list of links to the of children of the current page using an unordered HTML list.

    How it works:
    - It uses the Children method to get all child pages
    - It then generates links so the visitor can go to each page
*@

@{ var selection = Model.Content.Children.Where(x => x.IsVisible()).ToArray(); }

@if (selection.Length > 0)
{
<br />

    <div class="container mx-auto">
        @foreach (var item in selection)
        {
       
            <div class="card" style="padding:10px">
                <div class="card-body">
                    <a href="@item.Url">
                        <h5 class="card-title">@item.Name</h5>
                    </a>
                        <p class="card-text"> @item.GetPropertyValue("articleText")</p>

</div>
            </div>
      
           <br />
        }
    </div>
}