@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master1.cshtml";
}
<body class="backgroundColor">
    <br />
    <h1 class="text-center">
    @Umbraco.Field("title")
    </h1>
    <br />
    @Umbraco.RenderMacro("recentProjectsArticles")

</body>