@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Master>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}
                                                 <!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />
    <title>My page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>   
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
   
    <link href="~/Content/style.css" rel="stylesheet" />
</head>

<body>
    <div class="navigationColor">
        <br />
        @Umbraco.RenderMacro("Menu")
        <br />
    </div>

    @RenderBody()
    
</body>

</html>
   